.press-start-10px {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
}

.text-email, .text-senha, .text-nome{
  font-family: 'Roboto Mono', monospace;
  font-weight:600;
  font-size: 1.5rem;
  color: #4B4B4B;
}

.logo-login{
  position: relative;
  z-index: 20;
  width: 100%; 
  height: 200px; 
}

.container-formulario{
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-formulario{
  background-color: #E6E6E6;
}

.form-contro{
  background-color: #fff;
}

.formulario{
  height: 90%;
  padding-left: 0px;
  padding-right: 0px;
  margin: 30px;
}

.botao-fechar{
  width: 50px;
}

.btn-confirmar{
  width: 180px;
  background-color: #75FC72;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #4B4B4B;
}

.btn-confirmar:hover {
  background-color:#0359FF;
  color: #fff;
}

#esqueci-senha:hover{
  color: #0359FF;
}

